#landing_outer_main {
    /* min-height: 800px; */
}

#landing_inner_main {
    background-image: url("./assets/landing-cover-0.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

#skew_outer_1 {
    background-color: #f7f7f7;
    background-image: url("./assets/landing-1.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: top center;
}

#skew_inner_1 {
    padding: 50px 0px;
}

#skew_outer_2 {
    /* border-top: 8px solid white; */
    /* border-bottom: 7px solid white; */
    background-color: #f7f7f7;
    background-image: url("./assets/landing-2.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

#skew_inner_2 {
    padding: 50px 0px;
}

#skew_outer_3 {
    /* border-top: 8px solid white; */
    background-color: #f7f7f7;
    background-image: url("./assets/landing-3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
}

#skew_inner_3 {
    padding: 50px 0px;
}

/* Classes CSS */
.row {
    margin: 0px;
}

.smooth-edges {
    -webkit-backface-visibility: hidden;
}

.card_intro {
    position: absolute; 
    bottom: 0px; 
    z-index: 2
}

.card_header_landing {
    margin-top: 10px;
    margin-bottom: 0px;
}


@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: black !important;
  color: white;
}

.navbar:not(.top-nav-collapse) {
  background: black !important;
  color: white;
  opacity: 1;
}

.scrolling-navbar {
    background-color: black;
    transition: background .5s ease-in-out;
}

#header-navbar {
    background: white !important;
    color: black;
}










#quote-carousal{
    height: 56%;
    /* min-height: 600px; */
}

#landing {
    /* background-image: url("./assets/travel-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center; */
}



.quotes-carousal-center-align {
    padding-top: 15%; 
    padding-left: 10%; 
    font-size: 70px;
    color: white;
}

#first-row {
}

#image-test{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -45%;
}

.image-test2{
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
}

#image-test {
    transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
    overflow: hidden;
}


#image-test:hover {
    top: 25%;
    display: block;
    transform: scale(1.2)
}

.horizontal_scrolling {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;
}

#travel:hover{
    width: 100%;
    transition: width .5s ease-in-out;
}

.navbar {
}

.height-5em {
    max-height: 5em;
    height: 5em;
}

.height-80 {
    height: 80%;
}


.lobster {
    font-family: 'Lobster', cursive;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}