@import '../../../global.scss';

.footer-home {
  background-color: $blue-grey;
  padding: 40px;
  color: white;

  .footer-components {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-title {
    font-size: 40px;
    font-weight: 600;
    .username {
      font-weight: 700;
    }
  }
}
.footer-copyright {
  padding: 0px 0px 20px 0px;
  background-color: $blue-grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright-text {
    padding-left: 5px;
  }
}
